[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bs4 = "==0.0.2"
feedparser = "==6.0.11"
python-dotenv = "==1.0.1"
requests = "==2.32.3"
boto3 = ">=1.35,<2"
pillow = ">=11,<13"

[dev-packages]

[requires]
python_version = "3.10"
